name: lsl-tools

on:
  push:
  pull_request:
    branches: [ "main" ]

jobs:
  build-latest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: setup conda environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: '3.10'

      - name: install graphics
        run: |
          sudo apt-get update
          sudo apt-get install -y libglu1-mesa-dev xvfb mesa-utils

      - name: install dependencies
        shell: bash -l {0}
        run: |
          conda install -c conda-forge --yes liblsl
          python -m pip install --upgrade pip
          pip install .[dev]

      - name: lint
        shell: bash -l {0}
        run: |
          flake8 .

      - name: type-check
        shell: bash -l {0}
        run: |
          mypy ./

      - name: test
        shell: bash -l {0}
        run: |
          export PYGLET_GL_DRIVER=xlib
          xvfb-run --auto-servernum coverage run --branch -m unittest discover
          coverage report -m
          coverage xml
