# .github/workflows/main.yml

name: lsl-tools

# Controls when the workflow will run
on:
  push:
  pull_request:
    branches: [ "main" ]

jobs:

  build-latest:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: install
        run: |
          python -m pip install --upgrade pip
          pip install .[dev]
      - name: lint
        run: black --check .

      - name: type-check
        run: mypy ./

      - name: test
        shell: bash
        run: |
          if [ "$RUNNER_OS" == "Windows" ]; then
            # Clone and build liblsl from source
            git clone --recursive https://github.com/sccn/liblsl.git
            cd liblsl
            mkdir build && cd build
            
            # Configure and build using CMake
            cmake ..
            cmake --build . --config Release
            
            # Install the library and add its bin directory to the PATH
            cmake --build . --config Release --target install
            echo 'C:\Program Files (x86)\lsl\bin' >> $GITHUB_PATH
          fi

          coverage run -m unittest discover
          coverage report -m -b
          coverage xml
