name: lsl-tools

on:
  push:
  pull_request:
    branches: [ "main" ]

jobs:
  build-latest:
    runs-on: windows-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Cache apt packages
        uses: actions/cache@v4
        with:
          path: /var/cache/apt/archives
          key: ${{ runner.os }}-apt-cache-${{ hashFiles('**/your-workflow-file.yml') }}
          restore-keys: |
            ${{ runner.os }}-apt-cache-

      - name: setup conda environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: '3.10'
          # Add caching for conda packages
          miniconda-version: "latest"
          use-mamba: "true"
          channel-priority: "strict"
          channels: "conda-forge"

      - name: install graphics
        run: |
          sudo apt-get update
          sudo apt-get install -y libglu1-mesa-dev xvfb mesa-utils libgtk-3-dev libxinerama-dev x11-utils

      - name: install dependencies
        shell: bash -l {0}
        run: |
          conda install -c conda-forge --yes liblsl
          python -m pip install --upgrade pip
          pip install .[dev]

      - name: lint
        shell: bash -l {0}
        run: |
          flake8 .

      - name: type-check
        shell: bash -l {0}
        run: |
          mypy ./

      - name: test
        shell: bash -l {0}
        run: |
          export PYGLET_PLATFORM=headless
          xvfb-run --auto-servernum coverage run --branch -m unittest discover
          coverage report -m
          coverage xml