# .github/workflows/main.yml

name: lsl-tools

# Controls when the workflow will run
on:
  push:
  pull_request:
    branches: [ "main" ]

jobs:

  build-latest:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: install
        run: |
          python -m pip install --upgrade pip
          pip install .[dev]
          conda install -c conda-forge liblsl
      - name: Install Graphics Libraries
        run: |
          sudo apt-get update
          sudo apt-get install -y libglu1-mesa-dev xvfb mesa-utils
      - name: lint
        run: |
          flake8 .

      - name: type-check
        run: mypy ./

      - name: test
        env:
          LD_LIBRARY_PATH: /usr/share/miniconda/lib:$LD_LIBRARY_PATH
        shell: bash
        run: |
          export PYGLET_GL_DRIVER=xlib
          xvfb-run --auto-servernum coverage run --branch -m unittest discover
          coverage report -m
          coverage xml
